In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
raw_data = pd.read_csv('~/OneDrive - connect.hku.hk/Algo_trading/submission_7.csv')
raw_data.describe()

             return
count  37800.000000
mean       0.025638
std        0.018130
min       -0.092720
25%        0.015715
50%        0.028929
75%        0.035669
max        0.411118

In [6]:
normalized = (raw_data['return'] - raw_data['return'].min()) / (raw_data['return'].max() - raw_data['return'].min())

In [8]:
normalized.describe()

count    37800.000000
mean         0.234912
std          0.035984
min          0.000000
25%          0.215216
50%          0.241444
75%          0.254822
max          1.000000
Name: return, dtype: float64

In [10]:
normalized

0        0.233775
1        0.251146
2        0.249507
3        0.255456
4        0.215946
           ...
37795    0.206111
37796    0.262466
37797    0.252808
37798    0.206723
37799    0.247572
Name: return, Length: 37800, dtype: float64

In [11]:
raw_data

      date_time    return
0       s0d1001  0.025065
1       s1d1001  0.033817
2       s2d1001  0.032991
3       s3d1001  0.035989
4       s4d1001  0.016082
...         ...       ...
37795  s49d1700  0.011127
37796  s50d1700  0.039521
37797  s51d1700  0.034655
37798  s52d1700  0.011435
37799  s53d1700  0.032017

[37800 rows x 2 columns]

In [12]:
raw_data['return'] = normalized

In [14]:
raw_data.to_csv('~/OneDrive - connect.hku.hk/Algo_trading/submission_7_normalized.csv', index=False)

In [15]:
raw_data.describe()

             return
count  37800.000000
mean       0.234912
std        0.035984
min        0.000000
25%        0.215216
50%        0.241444
75%        0.254822
max        1.000000